[include]
    path = ~/.gitconfig.user

[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ai%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg3 = log --graph --decorate --all
    ls = ls-files
    ci = commit -v
    co = checkout
    st = status
    d = difftool

[push]
    default = current

[color]
    ui = true

[core]
    editor = vim
    pager = less -R -S

[merge]
    tool = vimdiff

[pull]
    ff = only
